{% extends 'base.html' %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h2 class="article-title">{{ event.name }}</h2>
        <p class="article-content">Start: <strong>{{event.start_date}}</strong></p>
        <p class="article-content">End: <strong>{{event.end_date}}</strong></p>
        <p class="article-content">{{event.desc}}</p>
        <p class="article-content">Status of event: <strong>{{event.status}}</strong></p>

    </div>
    <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER}}" role="button">Go back</a>
    {% if user.is_authenticated %}
    {% if event in user.events.all %}
    <a class="btn btn-danger" href="{% url 'events:Manage' instruction='resign' pk=event.id%}" role="button">Resign</a>
    {% else %}
    <a class="btn btn-success" href="{% url 'events:Manage' instruction='take_part' pk=event.id%}" role="button">Take
        part</a>
    {% endif %}
    {% endif %}
</article>

<p>Participants:</p>

<div class="list-group">
    {% for participant in event.participants.all %}
    <a href="{% url 'events:Detail' event.id %}" class="list-group-item list-group-item-action">{{ participant }}</a>
    {% endfor %}
</div>

{% endblock content %}