{% extends 'events/base.html' %}


{% block content %}

{% if events_list %}
<div class="list-group">
    {% for event in events_list %}
    <a href="{% url 'events:Detail' event.id %}" class="list-group-item list-group-item-action">{{ event.name }}</a>
    {% endfor %}
</div>
{% else %}
<p>No events are available.</p>
{% endif %}

<a class="btn btn-secondary" href="{% url 'events:All events' %}" role="button">All events</a>
<a class="btn btn-secondary" href="{% url 'events:Closest events' %}" role="button">Closest events</a>
<a class="btn btn-secondary" href="{% url 'events:Ongoing events' %}" role="button">Ongoing events</a>
<a class="btn btn-secondary" href="{% url 'events:Past events' %}" role="button">Past events</a>

{% endblock content %}