{% extends 'events/base.html' %}
{% block content %}

{% if events_list %}
<ul>
    {% for event in events_list %}
    <li><a href="{% url 'events:Detail' event.id %}">{{ event.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No events are available.</p>
{% endif %}

<br><a href="{% url 'events:All events' %}">{{ "All events" }}</a>
<br><a href="{% url 'events:Closest events' %}">{{ "Closest events" }}</a>
<br><a href="{% url 'events:Ongoing events' %}">{{ "Ongoing events" }}</a>
<br><a href="{% url 'events:Past events' %}">{{ "Past events" }}</a>
<br><br><a href="{% url 'events:Calendar' %}">{{ "Event calendar" }}</a>

{% endblock content %}