{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>

    <legend class="mb-4">Create new event: <a class="btn btn-primary" href="{% url 'events:Create' %}"
            role="button">Create</a></legend>

    <p>Events attending:</p>

    <div class="list-group">
        {% for e in user.events.all %}
        <a href="{% url 'events:Detail' e.id %}" class="list-group-item list-group-item-action">{{ e }}</a>
        {% endfor %}
    </div>
    <br>


    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account info</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock content %}